:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 200px 400px;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

header nav {
    /* use flex instead of grid here */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header ul {
    text-align: center;
    display: contents;
    /* display: grid;
    grid-template-columns: 100px 100px 100px 100px; */
}

li {
    border: 1px solid black;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    gap: 0px;
    background-color: #fff;
}

li a {
    text-decoration: none;
    color: black;
}

.information {
    text-align: center;
}

.information p {
    margin: 0;
}

.box {
    display: flex;
    gap: 50px;
}

form {
    display: grid;
    grid-template-columns: 100px 1fr;
}


.item-form {
    display: grid;
    align-items: start;
    align-items: center;
}

input {
    min-height: 30px;
}

.item-radius {
    display: grid;
    grid-row: span 3;
    align-items: center;
    width: 50%;
}

.radius-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-area {
    display: grid;
    grid-column: span 2;
    width: 100%;
    height: 100px;
}

.item-newsletter {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 380px;
}

.label-radius {
    width: 100%;
}

.button-form {
    grid-column: span 2;
}

button {
    min-width: 100%;
    min-height: 30px;
}


body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    max-width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav, p, section {
    margin: 16px;
    padding: 8px;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

.bottom h2 {
    text-align: center;
    grid-column: 1/6;
}

.bottom img {
    height: 100px;
}

.bottom figcaption {
    justify-self: center;
}

footer {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: var(--primary-color);
}

footer p {
    position: absolute;
    color: #fff;
}

.socialmedia{
    margin-left: auto;
}

.socialmedia a {
    text-decoration: none;
}

