:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 200px 400px;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

header nav {
    /* use flex instead of grid here */
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    text-align: center;
    display: contents;
    /* display: grid;
    grid-template-columns: 100px 100px 100px 100px; */
}

li {
    border: 1px solid black;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    gap: 0px;
}

li a {
    text-decoration: none;
    color: black;
}


body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    max-width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h2 {
    text-align: center;
    
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article {
    position: absolute;
    bottom: 10px;
    background-color: var(--accent1-color);
    opacity: 0.7;
    color: #fff
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

}

.history h2 {
    text-align: center;
    grid-column: 1/4;
}

.history img {
    height: 200px;
    justify-self: center;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

.bottom h2 {
    text-align: center;
    grid-column: 1/6;
}

.bottom img {
    height: 100px;
}

.bottom figcaption {
    justify-self: center;
}

footer {
    display: flex;
    justify-content: center;
    gap: 50px;
}

footer p {
    position: absolute;
}

.socialmedia{
    margin-left: auto;
}

.socialmedia a {
    text-decoration: none;
}

