:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 200px 500px;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border: 1px solid rgb(0 0 0 / 100%);
    height: 150px;
    margin: 0 0 10px auto;
}

header nav {
    /* use flex instead of grid here */
    display: flex;
    justify-content: center;
    align-items: center;

    
}

header img {
    height: 100px;
    place-self: center;
}

header ul {
    text-align: center;
    display: contents;
    /* display: grid;
    grid-template-columns: 100px 100px 100px 100px; */
}

li {
    border: 1px solid black;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    gap: 0px;
    background-color: #fff;
}

li a {
    text-decoration: none;
    color: black;
}


body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    max-width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent1-color)
}

h2 {
    text-align: center;
    
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article {
    position: absolute;
    bottom: 10px;
    background-color: var(--accent1-color);
    opacity: 0.7;
    color: var(--secondary-color)
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

}

.history h2 {
    text-align: center;
    grid-column: 1/4;
}

.history img {
    height: 200px;
    justify-self: center;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;;
    border: 1px solid rgb(0 0 0 / 100%);
    background-color: rgb(213, 219, 214);
    width: 100%;
    margin: 0 0 10px auto;
}

.bottom h2 {
    text-align: center;
    grid-column: 1/6;
}

.bottom img {
    height: 100px;
}

.bottom figcaption {
    justify-self: center;
}

footer {
    display: flex;
    
    justify-content: center;
    gap: 50px;
    background-color: var(--primary-color);
    border: 1px solid rgb(0 0 0 / 100%);
    width: 100%;
    margin: 0 auto;
}

footer p {
    position: absolute;
    color: #fff;
}

.socialmedia{
    margin-left: auto;
}

.socialmedia a {
    text-decoration: none;
}

/* About.html */

.information {
    text-align: center;
}

.information p {
    margin: 0;
    color: var(--accent1-color);
}

.box {
    display: flex;
    gap: 50px;
}

iframe {
    border: 0;
}

form {
    display: grid;
    grid-template-columns: 75px 1fr;
}

label {
    font-size: 12px;
}


.item-form {
    display: grid;
    align-items: start;
}

.text {
    min-width: 100%;
}

input {
    min-height: 30px;
}

.item-radius {
    display: grid;
    grid-row: span 3;
    align-items: center;
    width: 50%;
}

.radius-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-area {
    display: grid;
    grid-column: span 2;
    width: 100%;
    height: 100px;
}

.item-newsletter {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 100%;
}

.label-radius {
    width: 100%;
}

.button-form {
    grid-column: span 2;
}

button {
    min-width: 100%;
    min-height: 30px;
}

.bottom2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    border: 1px solid rgb(0 0 0 / 100%);
    background-color: rgb(213, 219, 214);
    width: 100%;
    margin: 0 0 10px auto;
}

.bottom2 h2 {
    text-align: center;
    padding-bottom: 10px;
    grid-column: 1/5
}

.bottom2 figure {
    justify-self: center;
}

.bottom2 figcaption {
    justify-self: center;
}

.bottom2 img {
    width: 115px;
    height: auto;
}
