* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    /* write declarations here */
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid {
    background-color: #abb;
    /* write declarations here */
    display: grid;
    justify-content: center;
    align-items: center;

}

.container2 {
    /* write declarations here */
    display: flex;
    justify-content: space-around;
}

.two {
    /* write declarations here */
    background-color: #ace;
    height: 100px;
}

.container3 {

  display: grid;
  grid-template-columns: repeat(autofill, minmax(150px, 1fr));
  gap: 50px;
}

.columns-3 {
    /* write declaration here */
    /* one of four */
    grid-column: 1/4; 
}

.three {
    margin: .25rem;
    background-color: #abd;
}