* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    font-family: "Merriweather", serif; 
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    /* a shadow coming behind of the image*/
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;;
}
p {
    margin: 1rem 0;
}

aside {
    width: 30rem;
    text-align: center;
}

aside img {
    width: 400px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 170px;
    bottom: 210px;
}

footer {
    margin-top: 10rem;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

.indent {
    padding-left: 2rem;
}