* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 1000px;
    margin: 0 auto;
}

:root {
    --primary-color: darkblue;
    font-family: "Merriweather", serif; 
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 40px;
    border-bottom: 1px solid var(--primary-color);
    text-align: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    /* a shadow coming behind of the image*/
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;;
}
p {
    margin: 1rem 0;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 100%;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 5%;
    left: 25%;
}

footer {
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

.grid {
    display: grid;
    align-items: center;
}

.indent {
    padding-left: 2rem;
}